.about{
   
}

.about h2{
    padding-right:30px;
    margin-top: 40px;
    text-align: right;
    
}
.about p{
    padding-right: 30px;
    margin-top: 40px;
    text-align: right;
    
}
.about img{
    padding-top: 80px;
    padding-left: 300px;
}